.home-header {
  width: 100%;
  max-height: auto;
  background-image: url("../Images/DMS.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 10vw 48px 0 0;
  margin-bottom: 3px;
}
h1 {
  display: flex;
  align-items: flex-end;
  color: #008855;
  justify-content: flex-end;
  font-size: 4.5rem;
  font-family: 'Kaushan Script', cursive;
}
@media (max-width: 568px) {
  .home-header {
    width: 100%;
    padding: 50vw 8px 0 0;
    margin-bottom: 3px;
  }

  h1 {
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  
  }
}